In [1]:
# Read in Import peanut_lines.csv
import os
import numpy as np
import pandas as pd

lines = pd.read_csv('C:\\Users\\segraha3\\Desktop\\CS590\\peanut_lines.csv', encoding='ISO-8859-1')

In [2]:
lines.head(25)

,NC_Accession,Parentage,Pedigree,FAG
0,ACI WT09-0761,ACI WT09-0761,NaN,Check
1,ACI WT11-0351,ACI WT11-0351,NaN,ol ol
2,ACI WT12-0226,ACI WT12-0226,NaN,ol ol
3,ACI WT12-0419,ACI WT12-0419,NaN,Check
4,ACI WT12-0420,ACI WT12-0420,NaN,ol ol
5,ACI WT12-0433,ACI WT12-0433,NaN,Check
6,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +
7,Bailey II,"Bailey /4/ X07016, Bailey // X05027, Bailey / ...",BC3F1-02-01-S-02-S-02: F09,ol ol
8,Brantley,Brantley,NaN,ol ol
9,CHAMPS,CHAMPS,NaN,+ +
10,Emery,N03079FT*2 / Brantley,BC1F1-03-01-01-02-02-01: F08,ol ol
11,Florida Fancy,Florida Fancy,NaN,ol ol
12,Florida-07,Florida-07,NaN,ol ol
13,FloriGiant,FloriGiant,NaN,+ +
14,FloRun 107,FloRun 107,NaN,ol ol
15,FloRun 157,FloRun 157,NaN,ol ol
16,FloRun 331,FloRun 331,NaN,ol ol
17,Georgia Green,Georgia Green,NaN,+ +
18,Georgia-06G,Georgia-06G,NaN,+ +
19,Georgia-07W,Georgia-07W,NaN,+ +
20,Georgia-09B,Georgia-09B,NaN,ol ol
21,Georgia-11J,Georgia-11J,NaN,ol ol
22,Georgia-12Y,Georgia-12Y,NaN,+ +
23,Gregory,Gregory,NaN,+ +
24,Harris 1,Harris 1,NaN,Check

In [3]:
#count lines with Bailey as parent
import re

bailey_count = []
for i in range(0,len(lines)):
    if re.search('Bailey',lines['Parentage'].iloc[i]):
        bailey_count.append(i)
    else:
        continue
    
len(bailey_count)

82

In [4]:
def bailey(x):
    if re.search('Bailey', x):
        return 'Yes'
    else:
        return 'No'
    
lines['Bailey_Parent'] = lines['Parentage'].apply(bailey)
lines.head(10)

,NC_Accession,Parentage,Pedigree,FAG,Bailey_Parent
0,ACI WT09-0761,ACI WT09-0761,NaN,Check,No
1,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,No
2,ACI WT12-0226,ACI WT12-0226,NaN,ol ol,No
3,ACI WT12-0419,ACI WT12-0419,NaN,Check,No
4,ACI WT12-0420,ACI WT12-0420,NaN,ol ol,No
5,ACI WT12-0433,ACI WT12-0433,NaN,Check,No
6,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,No
7,Bailey II,"Bailey /4/ X07016, Bailey // X05027, Bailey / ...",BC3F1-02-01-S-02-S-02: F09,ol ol,Yes
8,Brantley,Brantley,NaN,ol ol,No
9,CHAMPS,CHAMPS,NaN,+ +,No

In [5]:
bailey_perc = round(len(lines[(lines['Bailey_Parent'] == 'Yes') & (lines['FAG'] == 'ol ol')]) / len(lines) * 100, 1)
print('%s%%'%(bailey_perc))

16.1%

In [6]:
lines['Parentage'] = lines['Parentage'].str.replace('Bailey','N03081T')
lines.head(10)

,NC_Accession,Parentage,Pedigree,FAG,Bailey_Parent
0,ACI WT09-0761,ACI WT09-0761,NaN,Check,No
1,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,No
2,ACI WT12-0226,ACI WT12-0226,NaN,ol ol,No
3,ACI WT12-0419,ACI WT12-0419,NaN,Check,No
4,ACI WT12-0420,ACI WT12-0420,NaN,ol ol,No
5,ACI WT12-0433,ACI WT12-0433,NaN,Check,No
6,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,No
7,Bailey II,"N03081T /4/ X07016, N03081T // X05027, N03081T...",BC3F1-02-01-S-02-S-02: F09,ol ol,Yes
8,Brantley,Brantley,NaN,ol ol,No
9,CHAMPS,CHAMPS,NaN,+ +,No

In [7]:
yields = pd.read_csv('peanut_yield.txt', header=0, sep='\t')
peanut_db = pd.merge(lines, yields, on='NC_Accession', how='right')

In [8]:
peanut_db.head()

,NC_Accession,Parentage,Pedigree,FAG,Bailey_Parent,Year,Location,Name,Label,Plot_Yield,Yield
0,ACI WT09-0761,ACI WT09-0761,NaN,Check,No,2014,LEW,ATP,Advanced Testing Program - Yield,9.0,2733
1,ACI WT09-0761,ACI WT09-0761,NaN,Check,No,2014,RMT,ATP,Advanced Testing Program - Yield,10.2,3085
2,ACI WT09-0761,ACI WT09-0761,NaN,Check,No,2014,WHI,ATP,Advanced Testing Program - Yield,10.2,3085
3,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,No,2015,LEW,ATP,Advanced Testing Program - Yield,15.3,4632
4,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,No,2015,RMT,ATP,Advanced Testing Program - Yield,10.7,3226

In [9]:
peanut_db = peanut_db[(peanut_db['NC_Accession'] == 'Bailey') | (peanut_db['Bailey_Parent'] == 'Yes')]

In [10]:
Line = ['Bailey','Other']
Yield = [peanut_db[peanut_db['NC_Accession'] == 'Bailey']['Yield'].mean(), peanut_db[peanut_db['NC_Accession'] != 'Bailey']['Yield'].mean()]
df = pd.DataFrame(Yield, Line, columns=['Yield'])
df

              Yield
Bailey  3562.153846
Other   3713.964015